@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


body{
    word-break: keep-all;
    font-family: 'ABCFavorit', 'Apple SD Gothic Neo', 'Spoqa Han Sans Neo', sans-serif;
}

.left{
    position: fixed;
		width: calc(50%);
		height: 100vh;
    font-size: 6.5vw;
    line-height: 6.5vw;
    text-align: center;
    font-family: 'Work Sans', 'Apple SD Gothic Neo', 'Spoqa Han Sans Neo', sans-serif;
    font-weight: 600;
		float: left;
    border-right: solid 1px black;
    /*stop dragging*/
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.right{
    position: fixed;
    width: calc(50%);
    height: 100vh;
    right: 0;
    float: left;
    overflow-y: scroll;
    font-size: 1.1vw;
    line-height: 1.6vw;
    font-weight: 400;
    text-align: center;
}

/*-------------------------------------right*/
/* 전체 여백 */
.wrap {
  padding: 0vh 15.5vh 8vh;
}

h1{
  padding-top: 4vh;
}

/*-------------------------------------left*/
.keyword{
  left: 0;
  top: 50%;
  transform: translate(0,35vh);
  cursor: pointer;
}

.keyword span{
  vertical-align: -0.3vw;/*글자 기준선 내리기*/
}

/*text block*/
div[contenteditable=true]:empty:not(:focus)::before{
  content: attr(placeholder);
  display: inline-block;
  color:black;
} /*텍스트 블럭 속성 포커스 전*/

div[contenteditable=true]:empty:before{
  content: attr(data-text);
  display: inline-block;
  color: gray;/* For Firefox */
} /*텍스트 블럭 속성 포커스 후*/


div[contenteditable=true] {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  display: inline-block;
  color: black;
  cursor: text;
  vertical-align: -0.3vw; /*글자 기준선 내리기*/
}/*텍스트 블럭 안에 있는 글자 스타일*/


/*-------------------------------------right a*/

/*텍스트 링크*/
a, a:visited{
  color: black;
}

a:hover, a:active{
  color: #ff6400;
}


/*이미지*/
.photo img, .photo span{
  display: none;
  position: fixed;
  width: 50vw;
}
.photo img {
  top: 50%;
  left: 50%;
  transform-origin: left top;
  transform: translate(-100%, -50%);
} /*이미지*/

.photo span{
  height: 100vh;
  left: 0%;
  top: 0%;
  background-color:black;
  overflow: hidden;
} /*이미지 배경*/

.photo img:hover, .photo span:hover{
  display: inline-block;
} /*이미지 호버시 보임*/

a.background .blue{
  background-color:#090bd6;
}

a.background .white{
  background-color:#ffffff;
}

/*-------------------------------------right tag*/
.tag a, .linktree a{
  display: inline-block;
  padding: 0.3vw 1vw 0vw 1vw;
  font-size: 1.1vw;
  line-height: 1.6vw;
  margin-top: 0.3vw;
  border: solid 1px black;
  border-radius: 100px;
}

.tag a:hover, .linktree a:hover{
  background: black;
  color: white;
}

/*-------------------------------------top*/
#topBtn {
  display: none;
}

/*-------------------------------------other*/
/*드래그 색상*/
::-moz-selection {
  background: black;
  color: #ffffff;
}
::selection {
   background: black;
   color: #ffffff;
}
/*-------------------------------------tablet tag*/
@media all and (max-width:1080px){
  /* 타이포그래핀 */
  .left{
    font-size: 8vw;
    line-height: 8vw;
  }

  .right{
    font-size: 2vw;
    line-height: 2.9vw;
  }

  .wrap {
    padding: 0vh 2vh 6vh;
  }

  /* link */
  a:hover{
    color: unset;
  }

  a.photo{
    cursor: text;
  }

  .photo:hover img, .photo:hover span{
    display: none;
  }

  .tag a, .linktree a{
    font-size: 2vw;
    line-height: 2vw;
    padding: 0.9vw 0.9vw 0.7vw 0.9vw;
    margin-top: 0.8vw;
  }
}

/*-------------------------------------moblie tag*/
@media all and (max-width:999px){
  /* screen */
  .left{
    position: static;
    width: 100%;
    height: auto;
    font-size: 18vw;
    line-height: 18vw;
    padding: 24vh 0vh;
    border-right: unset;
  }
  .right{
    position: static;
    width: 100%;
    height: auto;
    font-size: 38px;
    line-height: 52px;
    letter-spacing: -0.5px;
    overflow-y: hidden;
    border-left: 0px;
    border-top: solid 1px black;
  }

  .keyword{
    transform: translate(0,0);
  }

  .tag a, .linktree a{
    display: inline-block;
    padding: 2vw 3.3vw 1.5vw 3.3vw;
    font-size: 36px;
    line-height: 36px;
    margin-top: 12.5px;
    border: solid 1px black;
    border-radius: 100px;
  }

  .wrap {
    padding: 0vh 2vh 2vh;
  }

  #topBtn{
    display: inline-block;
    padding-top: 2vh;
  }

}
