@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


body{
    word-break: keep-all;
    font-family: 'ABCFavorit', 'Apple SD Gothic Neo', 'Spoqa Han Sans Neo', sans-serif;
}

.left{
    position: fixed;
		width: calc(50%);
		height: 100vh;
    font-size: 6.5vw;
    line-height: 6.5vw;
    text-align: center;
    font-family: 'Work Sans';
    font-weight: 600;
		float: left;
    border-right: solid 2px black;
    /*stop dragging*/
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.right{
    position: fixed;
    width: calc(50%);
    height: 100vh;
    right: 0;
    font-size: 1.2vw;
    line-height: 1.73vw;
    text-align: center;
    font-weight: 500;
    float: left;
    overflow-y: scroll;
}

/*드래그 색상*/
::-moz-selection {
  background: black;
  color: #ffffff;
}
::selection {
   background: black;
   color: #ffffff;
}

/*-------------------------------------left*/
.keyword{
  left: 0;
  top: 50%;
  transform: translate(0,35vh);
  cursor: pointer;
}

/*text block*/
div[contenteditable=true]:empty:not(:focus)::before{
  content: attr(placeholder);
  display: inline-block;
  color:black;
} /*텍스트 블럭 속성 포커스전*/

div[contenteditable=true]:empty:before{
  content: attr(data-text);
  display: inline-block;
  color: gray;/* For Firefox */
} /*텍스트 블럭 속성*/


div[contenteditable=true] {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  color: black;
  display: inline-block;
  cursor: text;
}/*텍스트 블럭 안에 있는 글자 스타일*/

/*텍스트 애니메이션
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.keyword{
\	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:cubic-bezier(0.47, 0, 0.75, 0.72);
	-webkit-animation-direction: alternate;
}*/

/*-------------------------------------right*/
/* 전체 여백 */
.content {
  padding: 0vh 9.5vh 4vh;
}

h1{
  padding-top: 4vh;
}

/*-------------------------------------right a*/

/*링크*/
a{
  color: black;
}

a:hover{
  border-bottom: solid 2px black;
}

a:visited{
  color: black
}

/*이미지 숨김*/
a.photo img {
  display: none
}

a.photo:hover img {
  display: inline;
  position: fixed;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform-origin: left top;
  transform: translate(-100%, -50%);
  background-color:black;
}

/*-------------------------------------right tag*/
span, .linktree a{
  display: inline-block;
  padding: 0.3vw 1vw 0vw 1vw;
  font-size: 1.2vw;
  line-height: 1.88vw;
  margin-top: 0.3vw;
  border: solid 1px black;
  border-radius: 100px;
}

span:hover, .linktree a:hover{
  background: black;
  color: white;
}

/*-------------------------------------top*/
#topBtn {
  display: none;
}
/*-------------------------------------tablet tag*/
@media all and (max-width:1080px){
  /* 전체 여백 */
  .left{
    font-size: 8vw;
    line-height: 8vw;
  }

  .right{
    font-size: 2.5vw;
    line-height: 3.6vw;
  }

  .content {
    padding: 0vh 2vh 4vh;
  }

  /* link */
  a:hover{
    border-bottom: unset;
  }

  a.photo{
    cursor: text;
  }

  a.photo:hover img{
    display: none;
  }

  span, .linktree a{
    font-size: 2vw;
    line-height: 2vw;
    padding: 0.9vw 0.75vw 0.7vw 0.75vw;
    margin-top: 1vw;
  }
}

/*-------------------------------------moblie tag*/
@media all and (max-width:999px){
  /* screen */
  .left{
    position: static;
    width: 100%;
    height: auto;
    font-size: 18vw;
    line-height: 18vw;
    padding: 22vh 0vh;
    border-right: unset;
  }
  .right{
    position: static;
    width: 100%;
    height: auto;
    font-size: 22px;
    line-height: 51px;
    letter-spacing: -0.5px;
    overflow-y: hidden;
    border-left: 0px;
    border-top: solid 1px black;
  }

  .keyword{
    transform: translate(0,0);
  }

  span, .linktree a{
    display: inline-block;
    padding: 2vw 4vw 1.5vw 4vw;
    font-size: 36px;
    line-height: 32px;
    margin-top: 12.5px;
    border: solid 2px black;
    border-radius: 100px;
  }

  .content {
    padding: 0vh 5vh 2vh;
  }

  #topBtn{
    display: inline-block;
    padding-top: 2vh;
  }

}
